/* GLOBAL STYLES */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #CFCFCF;
    background-color: #000000;
    text-align: center;
    font-family: "OCR A Std", monospace;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #00a2ff;
}

p, li {
    font-size: 1.2rem;
    color: #CFCFCF;
}

strong {
    font-size: 1.3rem;
    color: #00a2ff;
}

h1 {
    font-size: 4rem;
    color: #00a2ff;
}

h2 {
    font-size: 3rem;
    color: #00a2ff;
}

h6 {
    font-size: 1.2rem;
    color: #9E9E9E;
}

/* BACKGROUND VIDEO */
.backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

/* INTRO SECTION */
.intro {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.intro-h1 {
    font-size: 5rem;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
}

.intro-link {
    color: #FFFFFF;
    font-size: 2rem;
}

.intro-link:hover {
    color: #00a2ff;
}

.intro-li {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
    margin: 0;
}

/* MOBILE ADAPTATIONS */
@media screen and (max-width: 400px) {
    h1 {
        font-size: 2.5rem !important;
    }

    a, p, strong, li {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1280px) {
    .mobile-intro {
        visibility: visible !important;
        clear: none !important;
        display: inline !important;
    }

    .intro {
        visibility: hidden;
        clear: both;
        display: none;
    }
}

.mobile-intro {
    visibility: hidden;
    clear: both;
    display: none;
}

/* PROJECT STYLING */
.project-image {
    width: 95%;
    aspect-ratio: 16/9;
    border-radius: 25px;
    transition: transform 0.2s;
}

a:hover .project-image {
    transform: scale(1.03);
    outline: 4px solid #00a2ff;
    outline-offset: 2px;
}

.project-header {
    font-size: 2rem;
    color: #00a2ff;
    text-transform: uppercase;
    font-weight: bold;
}

.project-text {
    font-size: 1.15rem;
    margin: 0 5%;
    color: #bbbbbb;
}

/* SECTIONS */
.siteSection {
    box-shadow: 0 0 5px 5px rgba(97, 192, 255, 0.2);
    width: 75%;
    margin: 35px auto 0;
    padding: 10px;
}

.sectionHeader {
    margin: 0 auto 15px;
    /* background: #202020;
    border-radius: 50px; */
}

.sectionHeader-text {
    font-weight: bold;
    text-transform: uppercase;
}

.itch-io-frame {
    --itch-io-frame-size: 2;
    width: calc(552px * var(--itch-io-frame-size));
    height: calc(167px * var(--itch-io-frame-size));
}

/* NAVIGATION */
.navbar-link {
    transition: background-color 0.3s;
}

.navbar-link:hover {
    color: #00a2ff !important;
}

/* TABLE STYLING */
.tdLeft {
    padding: 5px;
    color: #00a2ff;
    text-align: right;
}

.tdRight {
    padding: 5px;
    text-align: left;
}

/* FOOTER */
.footer {
    background-color: rgba(20, 20, 20, 1);
}

/* ANIMATIONS */
@keyframes fadeOut {
    from {opacity: 0}
    to {opacity: 1}
}

.fadeOut {
    animation: fadeOut .5s forwards;
}

@keyframes fadeIn {
    from {opacity: 1}
    to {opacity: 0}
}

.fadeIn {
    animation: fadeIn .5s forwards;
}

@keyframes fadeOutDown {
    0% {opacity: 0; top:-25px}
    100% {opacity: 1; top: 0}
}

.fadeOutDown {
    animation: fadeOutDown .5s forwards;
}

@keyframes fadeInUp {
    from {opacity: 1; top: 0}
    to {opacity: 0; top: -25px}
}

.fadeInUp {
    animation: fadeInUp .5s forwards;
}

.fadeInUpFast {
    animation: fadeInUp .01s forwards;
}

/* FONTS */
@font-face {
    font-family: 'robotoblack';
    src: url('font/roboto-black-webfont.woff2') format('woff2'),
         url('font/roboto-black-webfont.woff') format('woff');
}

@font-face {
    font-family: 'robotoblack_italic';
    src: url('font/roboto-blackitalic-webfont.woff2') format('woff2'),
         url('font/roboto-blackitalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'robotobold';
    src: url('font/roboto-bold-webfont.woff2') format('woff2'),
         url('font/roboto-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'robotobold_italic';
    src: url('font/roboto-bolditalic-webfont.woff2') format('woff2'),
         url('font/roboto-bolditalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'robotoitalic';
    src: url('font/roboto-italic-webfont.woff2') format('woff2'),
         url('font/roboto-italic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'robotolight';
    src: url('font/roboto-light-webfont.woff2') format('woff2'),
         url('font/roboto-light-webfont.woff') format('woff');
}

@font-face {
    font-family: 'robotolight_italic';
    src: url('font/roboto-lightitalic-webfont.woff2') format('woff2'),
         url('font/roboto-lightitalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'robotomedium';
    src: url('font/roboto-medium-webfont.woff2') format('woff2'),
         url('font/roboto-medium-webfont.woff') format('woff');
}

@font-face {
    font-family: 'robotomedium_italic';
    src: url('font/roboto-mediumitalic-webfont.woff2') format('woff2'),
         url('font/roboto-mediumitalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'robotoregular';
    src: url('font/roboto-regular-webfont.woff2') format('woff2'),
         url('font/roboto-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'robotothin';
    src: url('font/roboto-thin-webfont.woff2') format('woff2'),
         url('font/roboto-thin-webfont.woff') format('woff');
}

@font-face {
    font-family: 'robotothin_italic';
    src: url('font/roboto-thinitalic-webfont.woff2') format('woff2'),
         url('font/roboto-thinitalic-webfont.woff') format('woff');
}
